<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"
      integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp"
      crossorigin="anonymous"
    ></script>
    <title>NFT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <img
        class="logo-principal"
        src="./imgs/greed-isologo-horiz.png"
        class="logo"
        alt=""
      />

      <div class="search-bar-container">
        <input
          class="search-bar"
          type="text"
          name="search-bar"
          id="search-bar"
          placeholder="Buscar..."
        />
      </div>

      <div class="lupa">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="nav-bar">
        <ul type="none">
          <li>Explore</li>
          <li>About us</li>
          <li>Contact</li>
        </ul>
      </nav>

      <div class="login-wallet-container">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-wallet"></i>
      </div>
    </header>

    <main>

      <section class="form-register">
        <h5>Formulario Registro</h5>
        <input class= "controls" type="text" name="username" id="" placeholder="Ingrese su Nombre">
        <input class= "controls" type="email" name="email" id="" placeholder="Email">
        <input class= "controls" type="email" name="email" id="" placeholder="Confirmar Email">
        <input class= "controls" type="password" name="password" id="" placeholder="Contraseña">
        <input class= "controls" type="password" name="password" id="" placeholder="Confirmar Contraseña">
        <input class="buttons"   type="submit" name="" value="Crear Cuenta">
        
        <p><a href="#">¿Ya tengo cuenta?</a></p>
        
      </section> 
    </main>

    <footer>
      <div class="footer-main-container">
        <div class="footer-first-column">
          <div class="copy-footer">
            <img
              class="isotipo"
              src="./imgs/greed-isotipo.png"
              alt=""
              width="60px"
            />
            <p>
              The world’s first and largest digital marketplace for crypto
              collectibles and non-fungible tokens (NFTs). Buy, sell, and
              discover exclusive digital items.
            </p>
          </div>
          <div class="lista1">
            <h5>Marketplace</h5>
            <ul type="none">
              <li>All NFTs</li>
              <li>Collectibles</li>
              <li>Art</li>
              <li>Photography</li>
            </ul>
          </div>
          <div class="lista2">
            <h5>My account</h5>
            <ul type="none">
              <li>Profile</li>
              <li>Favorites</li>
              <li>Watchlist</li>
              <li>My Collections</li>
              <li>Settings</li>
            </ul>
          </div>
          <div class="lista3">
            <h5>About us</h5>
            <ul type="none">
              <li>Help Center</li>
              <li>Company</li>
              <li>Mission</li>
            </ul>
          </div>
        </div>
        <div class="social-media-container">
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-solid fa-envelope"></i></a>
          <h5>Follow us</h5>
        </div>
      </div>
    </footer>
  </body>
</html>
