<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"
      integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp"
      crossorigin="anonymous"
    ></script>
    <title>NFT</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <!--font-family: 'Poppins', sans-serif;-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <img
        class="logo-principal"
        src="./imgs/greed-isologo-horiz.png"
        class="logo"
        alt=""
      />

      <div class="search-lupa-container">
      <div class="search-bar-container">
        <input
          class="search-bar"
          type="text"
          name="search-bar"
          id="search-bar"
          placeholder="       Buscar..."
        />
      </div>

      <div class="lupa">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="nav-bar">
        <ul type="none">
          <li>Explore</li>
          <li>About us</li>
          <li>Contact</li>
        </ul>
      </nav>

      <div class="login-wallet-container">
        <i class="fa-solid fa-user"></i>
        <i class="fa-solid fa-wallet"></i>
      </div>
    </header>

    <main>

         <section class="part1">
              <div class="principal-secondary-btn-container">
                <div class="tprincipal">
                  <h2>Find, buy, and sell your first NFTs</h2>
                </div>

                <div class="tsecundari">
                  <p>join the revolution, the future is here</p>
                </div>

                <div class="explore-create-container">
                  <button class="btn" type="explore">Explore</button>
                  <button class="btn-2" type="create">Create</button>
                </div>
              </div>    
                <div class="nft-principal-container">
                  <article>
                    <img src="imgs/NFTprincipal.jpg" alt="principal" class="nft_img_main1">
                    <div class="main-article">
                        <img src="imgs/boredApe.png" alt="boredApe" class="nft_img_main_footer">
                        <p class="collection">Bored Ape Yacht Club King</p>
                        <p class="autor">YugaLabs</p>
                    </div>
                  </article>
                </div>
          </section>

          <section class="part2">
                  <div class="featured-container">
                    <h2>Featured</h2>
                  </div>

                  <div class="nft-secondary-container">
                      <article>
                        <img src="imgs/michael.jpg" alt="michael" class="nft_img">
                        <p class="feet1">Old paint #65 - by: RadicalRomancer</p>
                      </article>
                      
                      <article>
                        <img src="imgs/ramiMalek.png" alt="ramiMalek" class="nft_img">
                        <p class="feet2">Mosaic art #21 - by: Mesmerizer</p>
                      </article>

                      <article>
                        <img src="imgs/billionaire.png" alt="billionaire" class="nft_img">
                        <p class="feet3">Ape Billionaire Club #5769</p>
                      </article>

                  </div>
          </section>

          <section class="part3">
                  <div class="top-collection-container">
                    <h2>Top collections over last 
                    <select name="last" id="last">
                      <option value="1">24 hours</option>
                      <option value="2">7 days</option>
                      <option value="3">30 days</option>
                    </select>
                  </h2>
                  </div>
               
              <div class="collection-container">
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>1</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/USER1.png" alt="user1" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Artistic Alpha</h5>
                        <p class="floor">Floor Price: -</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+67.49%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">1284,75</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>2</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user2.png" alt="user2" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Sphere Art</h5>
                        <p class="floor">Floor Price: - </p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>-7.86%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">785,06</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>3</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user3.png" alt="user3" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Fight Punks</h5>
                        <p class="floor">Floor Price: 99,69 </p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+558,45%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">691,37</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>4</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user4.jpg" alt="user4" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Nova Auroras</h5>
                        <p class="floor">Floor Price: 3,61 </p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+68,73%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">612,36</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>5</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user5.jpg" alt="user5" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Dreamy Imaginations</h5>
                        <p class="floor">Floor Price: 2,79</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>-6,43%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">421,01</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>6</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user6.jpg" alt="user6" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Reflected light</h5>
                        <p class="floor">Floor Price: 0,39</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>-</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">414,13</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>7</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user7.jpg" alt="user7" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Crypto Diamonds</h5>
                        <p class="floor">Floor Price: 19,85</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>-36.84%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">413,74</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>8</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user13.jpg" alt="user13" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Depressed Dragons</h5>
                        <p class="floor">Floor Price: 0,002</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+73.13%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">333,92</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>9</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user9.jpg" alt="user9" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Butterfly Dust</h5>
                        <p class="floor">Floor Price: 0,27</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+78.56%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">307,09</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>10</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user10.jpg" alt="user10" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Crypto Felines</h5>
                        <p class="floor">Floor Price: 5,75</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>-77,00%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">192,59</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>11</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user11.jpg" alt="user11" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Dreamy Imaginations</h5>
                        <p class="floor">Floor Price: 1,25</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+385,53%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">231,93</p>
                        </div>
                      </div>
                </article> 
              </div>
              <div class="user-container">
                <article class="user">
                      <div class="number">
                        <h4>12</h4>
                      </div>
                      <div class="img-users">
                        <img src="imgs/user12.jpg" alt="user12" class="img-nft-user">
                      </div>
                      <div class="name-floor-container">
                        <h5 class="name">Cryptonaut</h5>
                        <p class="floor">Floor Price: 0,07</p>
                      </div>
                      <div class="percent-price-container">
                        <div class="percent">
                          <p>+51,17%</p>
                        </div>
                        <div class="ethereum-price-container">
                          <i class="fa-brands fa-ethereum"></i>
                          <p class="price">269,47</p>
                        </div>
                      </div>
                </article> 
              </div>
            </div>
          </section>
    </main>

    <footer>
      <div class="footer-main-container">
        <div class="footer-first-column">
          <div class="copy-footer">
            <img
              class="isotipo"
              src="./imgs/greed-isotipo.png"
              alt=""
              width="60px"
            />
            <p>
              The world’s first and largest digital marketplace for crypto
              collectibles and non-fungible tokens (NFTs). Buy, sell, and
              discover exclusive digital items.
            </p>
          </div>
          <div class="lista1">
            <h5>Marketplace</h5>
             <ul type="none"> 
              <li>All NFTs</li>
              <li>Collectibles</li>
              <li>Art</li>
              <li>Photography</li>
             </ul> 
          </div>
          <div class="lista2">
            <h5>My account</h5>
            <ul type="none">
              <li>Profile</li>
              <li>Favorites</li>
              <li>Watchlist</li>
              <li>My Collections</li>
              <li>Settings</li>
            </ul>
          </div>
          <div class="lista3">
            <h5>About us</h5>
            <ul type="none">
              <li>Help Center</li>
              <li>Company</li>
              <li>Mission</li>
            </ul>
          </div>
        </div>
        <div class="social-media-container">
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-solid fa-envelope"></i></a>
          <h5>Follow us</h5>
        </div>
      </div>
    </footer>
  </body>
</html>
