<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://use.fontawesome.com/releases/v6.1.1/js/all.js"
      integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp"
      crossorigin="anonymous"
    ></script>
    <title>NFT</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/product-detail.css" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>

  <body>
    <header>
      <img
        class="logo-principal"
        src="./imgs/greed-isologo-horiz.png"
        class="logo"
        alt=""
      />

      <div class="search-bar-container">
        <input
          class="search-bar"
          type="text"
          name="search-bar"
          id="search-bar"
          placeholder="Buscar..."
        />
      </div>

      <div class="lupa">
        <i class="fa-solid fa-magnifying-glass"></i>
      </div>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>

      <nav class="nav-bar">
        <ul type="none">
          <li>Explore</li>
          <li>About us</li>
          <li>Contact</li>
        </ul>
      </nav>

      <div class="login-wallet-container">
        <i class="fa-solid fa-user"></i>
        <i class="fa-soli@@@@d fa-wallet"></i>
      </div>
    </header>

    <main>
      <section class="main-top-section-container">
        <div class="product-image-description-container">
          <div class="main-title-img-container">
            <h4>Animals Collection</h4>
            <h3>King of the Jungle #301</h3>
            <img class="lion-nft" src="./imgs/lion-nft.jpg" alt="lion nft" />
          </div>
          <div class="collection-container">
            <div class="current-price">
              <p class="nft-collection-title">Current price</p>
              <p class="nft-collection-subtitle">
                <i class="fa-brands fa-ethereum"></i> 0.13432
              </p>
            </div>
            <div class="price-history">
              <p class="nft-collection-title">Price history</p>
              <p class="nft-collection-subtitle">
                <i class="fa-brands fa-ethereum"></i> 0.13432
              </p>
            </div>
            <div class="listings">
              <p class="nft-collection-title">Listings</p>
              <p class="nft-collection-subtitle">No listings yet</p>
            </div>
            <div class="offers">
              <p class="nft-collection-title">Offers</p>
              <p class="nft-collection-subtitle">No offers yet</p>
            </div>
          </div>
        </div>

        <div class="product-description-buy-container">
          <div class="description-global-container">
            <div>
              <p>Description</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
            </div>
            <div>
              <p>Properties</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
            </div>
            <div>
              <p>About author</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
            </div>
            <div>
              <p>Details</p>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
            </div>
          </div>

          <div class="make-offer">
            <a href="#">Make an offer</a>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <div class="footer-main-container">
        <div class="footer-first-column">
          <div class="copy-footer">
            <img class="isotipo" src="./imgs/greed-isotipo.png" alt="" />
            <p>
              The world’s first and largest digital marketplace for crypto
              collectibles and non-fungible tokens (NFTs). Buy, sell, and
              discover exclusive digital items.
            </p>
          </div>
          <div class="listas">
            <div class="lista1">
              <h5>Marketplace</h5>
              <ul type="none">
                <li>All NFTs</li>
                <li>Collectibles</li>
                <li>Art</li>
                <li>Photography</li>
              </ul>
            </div>
            <div class="lista2">
              <h5>My account</h5>
              <ul type="none">
                <li>Profile</li>
                <li>Favorites</li>
                <li>Watchlist</li>
                <li>My Collections</li>
                <li>Settings</li>
              </ul>
            </div>
            <div class="lista3">
              <h5>About us</h5>
              <ul type="none">
                <li>Help Center</li>
                <li>Company</li>
                <li>Mission</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="social-media-container">
          <a href=""><i class="fa-brands fa-twitter"></i></a>
          <a href=""><i class="fa-brands fa-instagram"></i></a>
          <a href=""><i class="fa-brands fa-facebook"></i></a>
          <a href=""><i class="fa-brands fa-youtube"></i></a>
          <a href=""><i class="fa-solid fa-envelope"></i></a>
          <p>Follow us</p>
        </div>
      </div>
    </footer>
  </body>
</html>
