body {
  font-family: "Gentium Book Plus", serif;
  background-color: #ebebeb;
}

/* Estilos del header....................................................................................................*/

header .logo-principal {
  width: 40%;
}

header {
  background-color: #6d8f4b;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .lupa {
  border: 1px solid red;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .burger-menu {
  border: 1px solid purple;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .search-bar-container {
  align-self: center;
}

header .search-bar-container .search-bar {
  display: none;
  border-radius: 3px;
}

header .nav-bar {
  border: 1px solid red;
  display: none;
}

header .login-wallet-container {
  display: none;
}

/* Termina estilos del header........................................................................................... */

/* Estilos del main..................................................................................................... */

main {
  background-color: #ebebeb;
  text-align: center;
  margin: 0 auto;
}

/* Parte 1 del main................................. */

body main section.part1 {
  background-image: url("../public/imgs/future.jpg");
}

body main section div.tprincipal {
  text-align: center;
}

body main section div.tsecundari p {
  text-align: center;
}

.explore-create-container {
  padding: 2px;
}

.btn {
  width: 20%;
  padding: 10px;
  background-color: rgb(4, 67, 130);
  color: white;
  margin-right: 10px;
  border: none;
  border-radius: 5px 5px 5px 5px;
}

.btn-2 {
  width: 20%;
  padding: 10px;
  background-color: white;
  color: rgb(4, 67, 130);
  border: none;
  border-radius: 5px 5px 5px 5px;
}

section.part1 div.nft-principal-container article {
  /*  border: 1px solid red; */
  background-color: rgb(255, 252, 252);
  width: 70%;
  /* margin: 10px; */
  /* box-shadow: 0px 0px 10px rgb(100, 100, 100); */
  margin: auto;
  border-radius: 10px 10px 10px 10px;

}

article div.main-article {
  /* border: 1px solid red; */
  text-align: center;
  /* width: 100%; */
  display: flex;
  flex-wrap: wrap;
  /* align-items: baseline; */
  /* border-top: 1px solid #ebebeb; */
  /* position: relative; */
  padding-bottom: 7px;
  /* justify-content: space-between; */
  /* border-radius: 0px 0px 0px 5px; */
  margin: 0px;
}


div.nft-principal-container article div img {
  width: 15%;
  margin: auto;
}

p.collection {
  width: 77%;
  font-size: 14px;
  margin-left: 0px;
  display: flex;
  justify-content: flex-start;
  margin-top: 8px;

}

p.autor {
  width: 30%;
  margin-top: -13px;
  font-size: 8px;
  display: flex;
  /* align-items: flex-start; */
  justify-content: flex-end;
  margin-left: 15px;
}


main section article img {
  width: 100%;
  padding: auto;
  border-radius: 10px 10px 0px 0px;
  /* border-bottom: 1px solid #ebebeb; */
}

body main section div.nft-principal-container {
  /* border: 1px solid orange; */
  width: auto;
  text-align: center;
  width: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Parte 2 del main......................................... */

section.part2 div.nft-secondary-container article {
  width: 70%;
  margin: auto;
  border-radius: 10px 10px 10px 10px;
  /* margin-bottom: 20px; */
  margin-bottom: -50px;
}

section.part2 div.nft-secondary-container article p.feet1 {
  position: relative;
  top: -81px;
  left: 4px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 169px;
}

section.part2 div.nft-secondary-container article p.feet2 {
  position: relative;
  top: -81px;
  left: 4px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 169px;
}

section.part2 div.nft-secondary-container article p.feet3 {
  position: relative;
  top: -57px;
  left: 4px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  width: 250px;
}

section.part2 div.nft-secondary-container article img {
  border-radius: 10px 10px 10px 10px;
  margin-top: 10px;
}

div.nft-secondary-container article:nth-child(1) img {
  width: 224px;
  height: 331.138px;
}

div.nft-secondary-container article:nth-child(2) img {
  /* width: auto */
  height: 331.138px;
}

div.nft-secondary-container article:nth-child(3) img {
  /* width: auto */
  height: 331.138px;
}

/* Parte 3 del main......................................... */

.top-collection-container {
  display: flex;
  margin-top: 40px;
}


body main section.part3 div h2:nth-child(1) {
  margin: auto;
}

body main section.part3 div h2.last {
  position: absolute;
}

#last {
  /* position: absolute; */
  border: none;
  /* left: -30px;
        bottom: 0px; */
  font-weight: bold;
  font-size: 20px;
  background: none;
  color: rgb(4, 67, 130);
}

.collection-container {
  /*  border: 3px solid blue; */
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
}



.user-container {
  width: 90%;
  margin: auto;
}

.user {
  /* border: 3px solid orange; */
  width: 100%;
  display: flex;
  border-bottom: 3px solid rgb(198, 198, 198);

  margin: auto;
}

div.user-container article .number {
  margin: auto;
}

div.user-container article .img-users {
  margin: auto;
  margin-right: 10px;
}


.img-nft-user {
  width: 50px;
  height: 50px;
  border-radius: 90%;
}

.name-floor-container {
  width: 50%;
  margin-top: -4px;
}

div.user-container article div h5.name {
  margin-left: -5px;
  position: absolute;
}

div.user-container article div p.floor {
  font-size: 14px;
  margin-left: -4px;
  margin-top: 47px;
  position: absolute;
}

.percent-price-container {
  width: 30%;
  margin-top: -23px;
}

div.user-container article div.percent-price-container div.percent {
  margin: 42px 0px 0px 3px;
}

div.user-container article div.percent-price-container p {
  margin-left: 35px;
  margin-top: 38px;
}

div.user-container article div.percent-price-container div.ethereum-price-container {
  display: flex;
  margin-top: -19px;
  margin-right: -5px;
}

div.user-container article div.percent-price-container div svg {
  width: 20%;
  margin: auto;
  margin-left: 19px;
}

div.user-container article div.percent-price-container div p.price {
  width: 70%;
  margin-left: -53px;
  margin-top: 10px;
  margin-bottom: 14px;
}

/* Termina estilos del main............................................................................................. */

/* Estilos del footer................................................................................................... */

footer {
  background-color: #c5e1a5;
  text-align: center;
}

.footer-main-container {
  border: 1px solid red;
  width: 95%;
  max-width: 920px;
  margin: 0 auto;
}

.footer-first-column {
  border: 1px solid blue;
  padding: 5% 0;
}

.footer-first-column div {
  border: 1px solid red;
  width: 95%;
  margin: 0 auto;
}

.copy-footer {
  border: 1px solid violet;
  margin-top: 20px;
}

.copy-footer .isotipo {
  width: 20%;
  max-width: 100px;
  max-height: 150px;
}

.copy-footer p {
  padding: 5px;
  width: 75%;
  max-width: 280px;
  margin: 1% auto;
}

.lista1 {
  border: 1px solid black;
}

.lista2 {
  border: 1px solid salmon;
}

.lista3 {
  border: 1px solid pink;
}

.social-media-container {
  border: 1px solid orange;
  margin-top: 20px;
}

.social-media-container h5 {
  display: none;
}

ul {
  width: 100%;
  padding: 0;
}

footer .footer-main-container .social-media-container a {
  padding: 0 2%;
  color: black;
  font-size: 25px;
}

/* Termina los estilos del footer........................................................................................ */

/* Medias queries */

@media (min-width: 426px) {

  div.nft-secondary-container article:nth-child(1) img {
    width: 537.600;
    height: 537.600px;
  }

  div.nft-secondary-container article:nth-child(2) img {
    width: 537.600;
    height: 537.600px;
  }

  div.nft-secondary-container article:nth-child(3) img {
    width: 537.600;
    height: 537.600px;
  }


}

@media (min-width: 600px) {
  footer p {
    font-size: 1.1rem;
  }

  footer h5 {
    font-size: 1.3rem;
  }

  footer div ul li {
    font-size: 1.1rem;
  }
}

@media (min-width: 769px) {

  header {
    display: flex;
  }

  header .logo-principal {
    width: 17%;
  }

  body header div.search-lupa-container {
    width: 30%;
  }

  header .search-bar-container .search-bar {
    display: flex;
    border-radius: 3px;
    width: 100%;
  }

  header .lupa {
    /* border: 1px solid red; */
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: -21px;
    margin-left: -20px;
  }

  section.part2 div.nft-secondary-container {
    display: flex;
  }

  section.part2 div.nft-secondary-container article {
    width: 21%;
    /* margin: auto; */
    border-radius: 10px 10px 10px 10px;
    /* margin-bottom: 20px; */
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
  }

  div.nft-secondary-container article img {
    width: 281.6px;
    height: 537.6px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  section.part2 div.nft-secondary-container article p.feet3 {
    position: relative;
    top: -76px;
    left: 4px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 250px;
  }

  /*  div.nft-secondary-container article:nth-child(1) img{
    width: 400.600px;
    height: 537.600px;
  }

  div.nft-secondary-container article:nth-child(2) img{
    width: 400.600px;
    height: 537.600px;
  }

  div.nft-secondary-container article:nth-child(3) img{
    width: 400.600px;
    height: 537.600px;
  } */

  .collection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .user-container {
    width: 45%;
  }

  header .search-bar-container {
    align-self: center;
    width: 100%;
  }

  header .nav-bar {
    display: flex;
    width: 30%;
    justify-content: space-around;
  }

  header .nav-bar ul {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
  }

  header .nav-bar ul li {
    padding: 8px;
  }

  header .login-wallet-container {
    display: flex;
    width: 9%;
    margin: 14px;
    font-size: 30px;
    justify-content: space-around;
  }

  header .burger-menu {
    border: 1px solid purple;
    width: 70px;
    display: none;
    justify-content: center;
    align-items: flex-end;
  }

  footer .footer-main-container .footer-first-column {
    display: flex;
    flex-wrap: wrap;
  }

  footer .footer-main-container .footer-first-column .copy-footer,
  img,
  p {
    margin: auto 0;
  }

  footer .footer-main-container .footer-first-column div {
    width: 47%;
  }

  footer .footer-main-container .footer-first-column .listas {
    display: flex;
    flex-wrap: wrap;
  }

  footer .footer-main-container .footer-first-column .listas .div {
    width: 44%;
  }

  footer .footer-main-container .footer-first-column .listas div.lista3 {
    margin: 0 auto;
  }

  .part1 {
    display: flex;
  }

  .principal-secondary-btn-container {
    display: flex;
    flex-direction: column;
    margin-left: 131px;
    width: 50%;
    margin-top: 148px;
  }




  .explore-create-container {
    padding: 2px;
    width: 348px;
    margin: auto auto 103px;
  }



}

@media (min-width: 1000px) {
  footer .footer-main-container {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }

  footer .footer-main-container .footer-first-column {
    justify-content: space-between;
  }

  footer .footer-main-container .footer-first-column .copy-footer {
    width: 35%;
  }

  footer .footer-main-container .footer-first-column .listas {
    width: 55%;
    border: 1px solid red;
  }

  footer .footer-main-container .footer-first-column .listas div {
    width: 32%;
  }

  footer .footer-main-container .footer-first-column {
    width: 79%;
  }

  footer .footer-main-container .social-media-container {
    width: 20%;
  }
}

@media (min-width: 1025px) {

  .collection-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
  }

  .user-container {
    width: 30%;
  }

  section.part2 div.nft-secondary-container article {
    width: 9%;
    padding: 42px;
    /* margin: auto; */
    border-radius: 10px 10px 10px 10px;
    /* margin-bottom: 20px; */
    margin-bottom: -50px;
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-content: center; */
    /* justify-content: space-around;*/
  }


  div.nft-secondary-container article img {
    width: 286.6px;
    height: 537.6px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .explore-create-container {
    padding: 2px;
    width: 348px;
    margin: auto auto 277px;
  }

  section.part1 div.principal-secondary-btn-container div.tprincipal {
    font-size: 34px;
  }

  section.part1 div.principal-secondary-btn-container div.tsecundari {
    font-size: 34px;
  }
}