

body {
  font-family: "Gentium Book Plus", serif;
  background-color: #ebebeb;
}

/* Estilos del header....................................................................................................*/

header .logo-principal {
  width: 40%;
}

header {
  background-color: #6d8f4b;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

header .lupa {
  border: 1px solid red;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .burger-menu {
  border: 1px solid purple;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

header .search-bar-container {
  align-self: center;
}

header .search-bar-container .search-bar {
  display: none;
  border-radius: 3px;
}

header .nav-bar {
  border: 1px solid red;
  display: none;
}

header .login-wallet-container {
  display: none;
}

/* Termina estilos del header........................................................................................... */

/* Estilos del main..................................................................................................... */

      main {
        background-color: #ebebeb;
        text-align: center;
        margin: 0 auto;
      }

      body main section div.tprincipal{
        text-align: center;
      }

      body main section div.tsecundari p{
        text-align: center;
      }

      .explore-create-container{
       padding: 2px;
      }
      .btn{
        width: 20%;
        padding:4px ;
        background-color: blue;
        color: white;
        margin-right: 10px;
        border: none;
        border-radius: 5px 5px 5px 5px;
      }

      .btn-2{
        width: 20%;
        padding:4px ;
        background-color: white;
        color: blue;
        border: none;
        border-radius: 5px 5px 5px 5px;
      }

      main section article{
        border: 1px solid red;
        background-color: rgb(255, 255, 255);
        width: 90%;
        /* margin: 10px; */
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        margin: auto;
        border-radius: 5px 5px 5px 5px;

      }

      article div.main-article{
        border: 1px solid red;
          
        /* width: 100%; */
         display: flex;
        /* flex-wrap: wrap; */ 
        align-items: baseline;
        border-top: 1px solid #ebebeb;
        position: relative;
        /* padding: 1px; */
        /* justify-content: space-between; */  
        border-radius: 5px 5px 5px 5px;
      }

      p.collection{
        width: 70%;
        font-size: 14px;
      }

      p.autor{
        width: 30%;
        font-size: 8px;
      }

      main section article img{
        width: 100%;
      padding: auto;
      border-radius: 5px 5px 5px 5px;
      /* border-bottom: 1px solid #ebebeb; */
      }

      body main section div.nft-principal-container {
        border: 1px solid orange;
        width: auto;
        text-align: center;
        width: auto;
        margin-top: 20px;
        margin-bottom: 20px;
}



/* Termina estilos del main............................................................................................. */

/* Estilos del footer................................................................................................... */

footer {
  display: flex;
  background-color: #c5e1a5;
  text-align: center;
  margin: 0 auto;
}

.footer-main-container {
  border: 1px solid red;
}

.footer-first-column {
  border: 1px solid blue;
}

.copy-footer {
  border: 1px solid violet;
  margin-top: 20px;
}

.copy-footer p {
  padding: 5px;
}

.lista1 {
  border: 1px solid black;
}

.lista2 {
  border: 1px solid salmon;
}

.lista3 {
  border: 1px solid pink;
}

.social-media-container {
  border: 1px solid orange;
  margin-top: 20px;
}

.social-media-container h5 {
  display: none;
}

ul {
  width: 80%;
}

/* Termina los estilos del footer........................................................................................ */